<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form method="post"   action="upload" enctype=multipart/form-data >
                                            {% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

</script>



                                <div id="food-item-name">
                                        <div class="text-input">
                                                <input type="text" id="input1" placeholder="Try typing something in here!" required="" name="food_name">
                                                <label for="input1">Food Name</label>
                                              </div>
                                </div>

                                <div id="food-item-cost">
                                        <div class="text-input">
                                                <input type="number" id="input2" placeholder="Try typing something in here!" required="" name="food_cost">
                                                <label for="input1">Food Cost</label>
                                              </div>
                                </div>

                                <div id="food-item-desc">
                                        <div class="text-input">
                                                <input type="text" id="input3" placeholder="Try typing something in here!" required="" name="food_cost">
                                                <label for="input1">Food desc</label>
                                              </div>
                                </div>

                                <div id="food-item-time">
                                        <div class="text-input">
                                                <input type="number" id="input4" placeholder="Try typing something in here!" required="" name="food_cost">
                                                <label for="input1">Preparing Time</label>
                                              </div>
                                </div>



                                <div class="food-category">
                                    <select>
                                        <option value="0">South Indian</option>
                                        <option value="1">North Indian</option>
                                        <option value="2">East Indian</option>
                                        <option value="3">Spicy</option>
                                    </select>
                                </div>
                                <input type=file name=myfile>
                                 <input type=submit>
                            </form>
</body>
</html>