{% extends 'delivery_base.html' %}
{% load staticfiles %}
{% block content %}
    <h4 class="orange-text text-darken-2">Order details</h4>
    <div class="container card-panel z-depth-4">
        <h3>Customer Name: {{ order.customer.username }}</h3>
        <p>Customer Mobile Number: {{ order.customer.user_mobile}}</p>
        <p>Customer Address: {{ order.customer.address }}</p>
        <h3>Restaurant: {{ order.restaurant.restaurant_name }}</h3>
        <p>Restaurant Mobile Number: {{ order.restaurant.owner.user_mobile }}</p>
        <p>Restaurant Address: {{ order.restaurant.owner.address }}</p>
        <h4>Ordered Items</h4>
        {% for food_item in food_items %}
        <p>{{ food_item.name }} : {{ food_item.cost }}</p>
        {% endfor %}
        <p>Total Cost: {{ order.total_cost }}</p>
    </div>
    <a class="waves-effect waves-light btn orange black-text" id="order_picked">Pick Up Order</a>
    <a class="waves-effect waves-light btn orange black-text" id="order_delivered">Deliver Order</a>
    <a class="waves-effect waves-light btn orange black-text" href="{% url 'delivery_dashboard' pk=order.delivery_guy.id %}">Your Orders</a>
    <script>
        var x = document.getElementById("location");
        $(document).ready(function() {
            getLocation();
            $('#order_picked').click(function (e){
                e.preventDefault();
                $('#order_picked').hide();
                order_picked();
            })
            $('#order_delivered').click(function (e){
                e.preventDefault();
                $('#order_delivered').hide();
                order_delivered();
            })
        }
        )

        function order_picked() {
            $.ajax({
                type: "POST",
                url: "/order_status/{{order.id}}",
                data: {
                    'delivery_guy_assigned': true
                },
                success: function(){
                    console.log("Order_picked")
                }
            })
        }

        function order_delivered() {
            $.ajax({
                type: "POST",
                url: "/order_status/{{order.id}}",
                data: {
                    'order_delivered': true
                },
                success: function() {
                    console.log("order_delivered")
                }
            })
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            console.log(position.coords.latitude, position.coords.longitude);
            sendLocation(position.coords.latitude, position.coords.longitude);
        }

        function sendLocation(x, y) {
            $.ajax({
                type: "POST",
                url: "/get_location/{{order.delivery_guy.id}}",
                data: {
                    'lat':x,
                    'lng':y
                },
                success: function () {
                    setTimeout(function () {
                        getLocation();
                    }, 1000);
                }
            })
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRzUk-5Ak_cTp2DegKbe_b8i79Dewxc6Y&callback=initMap"
        async defer></script>
{% endblock %}