{% extends 'nav.html' %}
{% block content %}
<h1>order placed sucessfully</h1>

<div id="status" style="font-size:3em;">Order status:</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    order_status()
function order_status(){
    $.ajax({
        type:"POST",
        url:'/restaurants/orderstatus/{{pk}}',
        data:{},
        success: function (data) {
            if (data['status']==2){
                document.getElementById('status').innerText="status : Delivery guy Pickedup your order"
                order_status()
            }
            else if (data['status']==1){
                document.getElementById('status').innerText="status : Restaurant accepted"
                order_status()
            }
            else if (data['status']==0){
                document.getElementById('status').innerText="status : Pending"
                order_status()
            }
            else if (data['status']==3){
                document.getElementById('status').innerText="status : Order finished"
            }
        }
    }
  )
}
function getstatus(data){
    div=document.get.ElementbyId('status')
 if (data['status']==3){
     div.innerText='Order delivered'

 }
 if (data['status']==2) {
     div.innerText='deliver guy picked  your order'

 }
 if (data['status']==3){
     div.innerText='order delivered'
 }
}
</script>
   
       {% endblock %}