

<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <link rel="icon" type="image/ico" href="{% static 'img/icon.png' %}" />
      <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <title>Swiggy</title>
</head>

<body>
    <div class="main-container">
        <div class="left-container">
                   <div class="left-up">
                    <div class="left-container-logo">
                            <img src="{% static 'img/icon.png' %}"  alt="">
                    <span>SWIGGY</span>
                        </div>

                        <div class="user-signup-sigin">
                            <div ><a id="btnlogin" href="{% url 'login' %}" class="button-black">Login</a><a id="btnsignup" href="{% url 'signup' %}" class="button-black">Sign up</a></div>
                        </div>
               </div>
              <div class="left-down">
{%block left_container%}

            {%endblock%}
</div>
        </div>

        <div class="right-container"  style="background-image:url('{% static 'img/home-banner1.jpeg' %}')">

        </div>
    </div>

<!--    <script src="./static/js/test.js"></script>-->





<div class="bottom-container">
    <div class="bottom-container-item">
        <div class="container-item-image"><img width="105" height="199"
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf">
        </div>
        <div class="bottom-container-item-head">No Minimum Order</div>
        <div class="bottom-container-item-desc">Order in for yourself or for the group, with no restrictions on order
            value</div>
    </div>
    <div class="bottom-container-item">
        <div class="container-item-image"><img width="112" height="206"
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy">
        </div>
        <div class="bottom-container-item-head">Live Order Tracking</div>
        <div class="bottom-container-item-desc">Know where your order is at all times, from the restaurant to your
            doorstep</div>
    </div>
    <div class="bottom-container-item">
        <div class="container-item-image"><img width="124" height="188"
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn">
        </div>
        <div class="bottom-container-item-head">Lightning-Fast Delivery</div>
        <div class="bottom-container-item-desc">Experience Swiggy's superfast delivery for food delivered fresh &amp; on
            time</div>
    </div>
</div>

</body>

</html>